#title {
    background: #666666;
    margin: 5px;
    padding: 5px;
}

#date {
    background: #666666;
    margin: 5px;
    padding: 5px; 
}

#publisher {
    background: #666666;
    margin: 5px;
    padding: 5px;
}

#credibility_score {
    background: #666666;
    margin: 5px;
    padding: 5px;
}

#content {
    background: #666666;
    margin: 5px;
    padding: 5px;
}