<!DOCTYPE html>

{% load static %}
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        
        <title>Credible | About</title>
        
        <link rel="stylesheet" href="{% static "css/flexboxgrid.css" %}">
        <link rel="stylesheet" href="{% static "css/fontawesome-all.css" %}">
        <link rel="stylesheet" href="{% static "css/basic.css" %}">
    </head>
    
    <body>
        
        <header id="main_header">
            <div class="container">
                <div class="row end-sm end-md end-lg center-xs middle-xs middle-sm middle-md middle-lg">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 middle-xs middle-sm middle-md middle-lg">
                        <h1><span class="logo_text">Cred</span>ible</h1>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 middle-xs middle-sm middle-md middle-lg">
                        <nav id="main_nav">
                            <ul>
                                <li><a href="/index.html">Home</a></li>
                                <li><a href="/features.html">Features</a></li>
                                <li class="current"><a href="/about.html">About Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        
        <main class="container">
            <div style="text-align: center;">Details coming soon.</div>
        </main>
        
        <footer id="main_footer">
             <div class="container">
                 <div class="row center-xs center-sm center-md center-lg">
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>Copyright &copy; 2018 | Dynamic Constants</p>
                     </div>
                 </div>
             </div>
        </footer>
                        
    </body>
    
</html>