<!DOCTYPE html>

{% load static %}
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        
        <title>Credible | Home</title>
        
        <link rel="stylesheet" href="{% static "css/flexboxgrid.css" %}">
        <link rel="stylesheet" href="{% static "css/basic.css" %}">
        <link rel="stylesheet" href="{% static "css/index.css" %}">
        <script src="{% static "javascript/articlesLoader.js" %}"></script>
    </head>
    
    <body>
        
        <header id="main_header">
            <div class="container">
                <div class="row end-sm end-md end-lg center-xs middle-xs middle-sm middle-md middle-lg">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 middle-xs middle-sm middle-md middle-lg">
                        <h1><span class="logo_text">Cred</span>ible</h1>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 middle-xs middle-sm middle-md middle-lg">
                        <nav id="main_nav">
                            <ul>
                                <li class="current"><a href="/index.html">Home</a></li>
                                <li><a href="/features.html">Features</a></li>
                                <li><a href="/about.html">About Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        
        <section id="showcase">
            <div class="container">
                <div class="row center-xs center-sm center-md center-lg middle-xs middle-sm middle-md middle-lg">
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 showcase_content">
                        <h1>Welcome to <span class="logo_text">Credible</span></h1>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
        </section>
                
        <main class="container" style="width:75%">
            <h2>Trending News</h2>
            <p>News with maximum velocity in twitter.</p>
            <div class="row around-lg around-md">
                <section class="news_box col-md col-md" id="news_box_0">
                        <div class="hidden" id="article_id_0"></div>
                        <h2 id="title_0" class="row start-lg start-md start-sm center-xs">...</h2>
                        <div id="cred_0" class="cred">...</div>
                        <p id="content_0" class="row">...</p>
                        <div class="row end-xs end-sm end-md end-lg">
                            <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_0').innerHTML)" href="newsview.html">Read More...</a>
                        </div>
                </section>
                <section class="news_box col-md col-md" id="news_box_1">
                   <div class="hidden" id="article_id_1"></div>
                    <h2 id="title_1" class="row start-lg start-md start-sm center-xs">...</h2>
                    <div id="cred_1" class="cred"></div>
                    <p id="content_1" class="row">...</p>
                    <div class="row end-xs end-sm end-md end-lg">
                        <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_1').innerHTML)" href="newsview.html">Read More...</a>
                    </div>
                </section>
            </div>
            
            <div class="row around-lg around-md">
                <section class="news_box col-md col-md" id="news_box_2">
                   <div class="hidden" id="article_id_2"></div>
                    <h2 id="title_2" class="row start-lg start-md start-sm center-xs">...</h2>
                    <div id="cred_2" class="cred"></div>
                    <p id="content_2" class="row">...</p>
                    <div class="row end-xs end-sm end-md end-lg">
                        <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_2').innerHTML)" href="newsview.html">Read More...</a>
                    </div>
                </section>
                <section class="news_box col-md col-md" id="news_box_3">
                   <div class="hidden" id="article_id_3"></div>
                    <h2 id="title_3" class="row start-lg start-md start-sm center-xs">...</h2>
                    <div id="cred_3" class="cred"></div>
                    <p id="content_3" class="row">...</p>
                    <div class="row end-xs end-sm end-md end-lg">
                        <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_3').innerHTML)" href="newsview.html">Read More...</a>
                    </div>
                </section>
            </div>
            
            <div class="row around-lg around-md">
                <section class="news_box col-md col-md" id="news_box_4">
                   <div class="hidden" id="article_id_4"></div>
                    <h2 id="title_4" class="row start-lg start-md start-sm center-xs">...</h2>
                    <div id="cred_4" class="cred"></div>
                    <p id="content_4" class="row">...</p>
                    <div class="row end-xs end-sm end-md end-lg">
                        <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_4').innerHTML)" href="newsview.html">Read More...</a>
                    </div>
                </section>
                <section class="news_box col-md col-md" id="news_box_5">
                   <div class="hidden" id="article_id_5"></div>
                    <h2 id="title_5" class="row start-lg start-md start-sm center-xs">...</h2>
                    <div id="cred_5" class="cred"></div>
                    <p id="content_5" class="row">...</p>
                    <div class="row end-xs end-sm end-md end-lg">
                        <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_5').innerHTML)" href="newsview.html">Read More...</a>
                    </div>
                </section>
            </div>
            
            <div class="row around-lg around-md">
                <section class="news_box col-md col-md" id="news_box_6">
                   <div class="hidden" id="article_id_6"></div>
                    <h2 id="title_6" class="row start-lg start-md start-sm center-xs">...</h2>
                    <div id="cred_6" class="cred"></div>
                    <p id="content_6" class="row"></p>
                    <div class="row end-xs end-sm end-md end-lg">
                        <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_6').innerHTML)" href="newsview.html">Read More...</a>
                    </div>
                </section>
                <section class="news_box col-md col-md" id="news_box_7">
                   <div class="hidden" id="article_id_7"></div>
                    <h2 id="title_7"  class="row start-lg start-md start-sm center-xs">...</h2>
                    <div id="cred_7" class="cred"></div>
                    <p id="content_7" class="row">...</p>
                    <div class="row end-xs end-sm end-md end-lg">
                        <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_7').innerHTML)" href="newsview.html">Read More...</a>
                    </div>
                </section>
            </div>
            
            <div class="row around-lg around-md">
                <section class="news_box col-md col-md" id="news_box_8">
                   <div class="hidden" id="article_id_8"></div>
                    <h2 id="title_8" class="row start-lg start-md start-sm center-xs">...</h2>
                    <div id="cred_8" class="cred"></div>
                    <p id="content_8" class="row">...</p>
                    <div class="row end-xs end-sm end-md end-lg">
                        <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_8').innerHTML)" href="newsview.html">Read More...</a>
                    </div>
                </section>
                <section class="news_box col-md col-md" id="news_box_9">
                   <div class="hidden" id="article_id_9"></div>
                    <h2 id="title_9" class="row start-lg start-md start-sm center-xs">...</h2>
                    <div id="cred_9" class="cred"></div>
                    <p id="content_9" class="row">...</p>
                    <div class="row end-xs end-sm end-md end-lg">
                        <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_9').innerHTML)" href="newsview.html">Read More...</a>
                    </div>
                </section>
            </div>
            
            <div class="row around-lg around-md">
                <section class="news_box col-md col-md" id="news_box_10">
                   <div class="hidden" id="article_id_10"></div>
                    <h2 id="title_10" class="row start-lg start-md start-sm center-xs">...</h2>
                    <div id="cred_10" class="cred"></div>
                    <p id="content_10" class="row">...</p>
                    <div class="row end-xs end-sm end-md end-lg">
                        <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_10').innerHTML)" href="newsview.html">Read More...</a>
                    </div>
                </section>
                <section class="news_box col-md col-md" id="news_box_11">
                   <div class="hidden" id="article_id_11"></div>
                    <h2 id="title_11" class="row start-lg start-md start-sm center-xs">...</h2>
                    <div id="cred_11" class="cred"></div>
                    <p id="content_11" class="row">...</p>
                    <div class="row end-xs end-sm end-md end-lg">
                        <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_11').innerHTML)" href="newsview.html">Read More...</a>
                    </div>
                </section>
            </div>
            
            <div class="row around-lg around-md">
                <section class="news_box col-md col-md" id="news_box_12">
                   <div class="hidden" id="article_id_12"></div>
                    <h2 id="title_12" class="row start-lg start-md start-sm center-xs">...</h2>
                    <div id="cred_12" class="cred"></div>
                    <p id="content_12" class="row">...</p>
                    <div class="row end-xs end-sm end-md end-lg">
                        <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_12').innerHTML)" href="newsview.html">Read More...</a>
                    </div>
                </section>
                <section class="news_box col-md col-md" id="news_box_13">
                   <div class="hidden" id="article_id_13"></div>
                    <h2 id="title_13" class="row start-lg start-md start-sm center-xs">...</h2>
                    <div id="cred_13" class="cred"></div>
                    <p id="content_13" class="row">...</p>
                    <div class="row end-xs end-sm end-md end-lg">
                        <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_13').innerHTML)" href="newsview.html">Read More...</a>
                    </div>
                </section>
            </div>
            
            <div class="row around-lg around-md">
                <section class="news_box col-md col-md" id="news_box_14">
                   <div class="hidden" id="article_id_14"></div>
                    <h2 id="title_14" class="row start-lg start-md start-sm center-xs">...</h2>
                    <div id="cred_14" class="cred"></div>
                    <p id="content_14" class="row">...</p>
                    <div class="row end-xs end-sm end-md end-lg">
                        <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_14').innerHTML)" href="newsview.html">Read More...</a>
                    </div>
                </section>
                <section class="news_box col-md col-md" id="news_box_15">
                   <div class="hidden" id="article_id_15"></div>
                    <h2 id="title_15" class="row start-lg start-md start-sm center-xs">...</h2>
                    <div id="cred_15" class="cred"></div>
                    <p id="content_15" class="row">...</p>
                    <div class="row end-xs end-sm end-md end-lg">
                        <a class="button_01" onclick="localStorage.setItem('article_id', document.getElementById('article_id_15').innerHTML)" href="newsview.html">Read More...</a>
                    </div>
                </section>
            </div>
            
        </main>
        
        <footer id="main_footer">
             <div class="container">
                 <div class="row center-xs center-sm center-md center-lg">
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>Copyright &copy; 2018 | Dynamic Constants</p>
                     </div>
                 </div>
             </div>
        </footer>
        
        
    </body>
    
    
</html>